.env
.runtime/
services/*/__debug_bin*
services/gateway/gateway
services/user/user
services/video/video
services/interaction/interaction
services/chat/chat
storage/avatars/*
!storage/avatars/.gitignore
storage/videos/*
!storage/videos/.gitignore
